@font-face {
  font-family: "light";
  src: url("font/659baf8b2573503b.woff2");
}

@font-face {
  font-family: "Regular";
  src: url("font/b4358c1049ee69f4.woff2");
}

@font-face {
  font-family: "bold";
  src: url("font/c477e5e371f1219d.woff2");
}

@font-face {
  font-family: "medium";
  src: url("font/ea9371020395bcec.woff2");
}

@font-face {
  font-family: "mordern";
  src: url("font/f51a9d23faa81e19.woff2");
}

@font-face {
  font-family: "dark";
  src: url("font/f503b10a8b819ad9.woff2");
}

* {
  margin: 0;
  padding: 0;
}

.header-container {
  padding: 12px 16px;
  display: flex;
  color: #ffff;
  text-align: center;
  background-color: #231e15;
  justify-content: center;
  padding-bottom: 30px;
  height: 35px;
}
.header-container span {
  color: #fff;
  display: flex;
}
.header-container p {
  font-family: Regular;
  font-size: 13px;
  color: rgb(255, 255, 255);
  line-height: 17.55px;
}
.header-container a {
  border-bottom: 1px dashed;
  display: flex;
  width: fit-content;
  margin-left: 18px;
  height: 16px;
}
.header {
  top: 0px;
  position: sticky;
  width: 100%;
  background-color: #ffff;
}
.header-contents {
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
}
.first-header-margin {
  flex-flow: row;
  display: flex;
  row-gap: 15px;
}
.mailchimp {
  flex-flow: row;
  justify-content: flex-start;
  align-items: center;
  gap: 0.9375rem;
  display: flex;
  list-style: none;
  padding: 16px;
  margin-top: -6px;
}
.malichimp-image {
  margin-left: 6px;
}
.service-text {
  display: none;
}
.switch-text {
  display: none;
}
.pricing-container {
  display: flex;
  align-items: center;
  margin-left: 56px;
  column-gap: 30px;
}
.pricing-text {
  padding: 16px;
  font-size: 13px;
  font-family: bold;
  margin-top: -8px;
  margin-left: 1px;
}
.menu-icon {
  list-style: none;
  margin-left: -15px;
  margin-top: -6px;
}
.sale-container {
  display: none;
}
.login-container {
  display: none;
}
.login-container a {
  display: none;
}
.one {
  padding-top: 36px;
  padding-bottom: 48px;
}
.email-container {
  margin-left: 28.125px;
  margin-right: 28.125px;
  text-align: center;
}
.email-container h1 {
  font-family: medium;
  color: rgb(35, 30, 21);
  font-size: 36px;
  letter-spacing: -1px;
  font-weight: 400;
  line-height: 36px;
  margin-top: -5px;
}
.email-container p {
  font-size: 18px;
  margin-top: 11px;
  line-height: 23.9999px;
  letter-spacing: -0.32px;
  font-family: regular;
}
.sign-button {
  justify-content: center;
  margin-top: 24px;
  display: flex;
  margin-top: 40px;
}
.sign-margin {
  margin-left: 0;
  margin-right: 0;
}
.sign-margin a {
  color: rgb(35, 30, 21);
  background-color: rgb(255, 224, 27);
  position: relative;
  font-family: bold;
  font-size: 13px;
  padding: 14px 24px;
  border: 1px solid black;
  border-radius: 26px;
}
.frist-session {
  margin-top: 10px;
}
.automation-one {
  padding: 24px;
  background-color: rgb(215, 150, 55);
  display: flex;
  flex-direction: column;
}
.automation {
  display: none;
}
.automation-three {
  font-size: 16.875px;
  font-family: medium;
  font-weight: 400;
  color: rgb(35, 30, 21);
  height: 21.5px;
  line-height: 22.4999px;
}
.automation-two img {
  width: 100%;
  margin-top: 18px;
}
.automation-text p {
  color: rgb(35, 30, 21);
  font-size: 16px;
  line-height: 24px;
  margin-top: 12px;
  font-family: regular;
}
.automation-text-one {
  margin-top: 25px;
  align-items: center;
  display: flex;
}
.automation-text-two {
  padding: 12px 24px;
  border-radius: 26px;
  font-size: 13px;
  border: 1px solid black;
  font-family: bold;
}
.generative img {
  display: none;
}
.generative-container {
  padding: 24px;
  display: flex;
  flex-direction: column;
}
.generative-one {
  padding: 0px;
}
.generative-two {
  font-size: 18px;
  font-weight: 40;
  font-family: medium;
}
.generative-one img {
  width: 100%;
  margin-top: 20px;
}
.generative-text {
  color: rgb(35, 30, 21);
  font-size: 16px;
  line-height: 24px;
  margin-top: 12px;
  font-family: regular;
}
.generative-text-one {
  margin-top: 25px;
  align-items: center;
  display: flex;
}
.generative-text-two {
  border: 1px solid black;
  border-radius: 26px;
  padding: 10px 24px;
  font-family: bold;
  font-size: 13px;
}
.segmentation-container {
  padding: 24px;
  display: flex;
  flex-direction: column;
  background-color: #e6b95f;
}
.segmentation img {
  display: none;
}
.segmentation-one {
  padding: 0px;
}
.segmentation-two {
  font-size: 18px;
  font-weight: 400;
  font-family: medium;
}
.segmentation-one img {
  width: 100%;
  margin-top: 20px;
}
.segmentation-text {
  color: rgb(35, 30, 21);
  font-size: 16px;
  line-height: 24px;
  margin-top: 12px;
  font-family: regular;
}
.segmentation-text-one {
  margin-top: 25px;
  align-items: center;
  display: flex;
}
.segmentation-text-two {
  border: 1px solid black;
  border-radius: 26px;
  padding: 12px 24px;
  font-family: bold;
  font-size: 13px;
}
.reporting-container {
  background-color: #ebe1cd;
  padding: 24px;
  display: flex;
  flex-direction: column;
}
.reporting img {
  display: none;
}
.reporting-one {
  padding: 0px;
}
.reporting-two {
  font-size: 18px;
  font-family: medium;
  font-weight: 400;
}
.reporting-one img {
  width: 100%;
  margin-top: 20px;
}
.reporting-text {
  color: rgb(35, 30, 21);
  font-size: 16px;
  line-height: 24px;
  margin-top: 12px;
  font-family: regular;
}
.reporting-text-one {
  margin-top: 25px;
  align-items: center;
  display: flex;
}
.reporting-text-two {
  border: 1px solid black;
  border-radius: 26px;
  padding: 12px 24px;
  font-family: bold;
  font-size: 13px;
}
.second-display {
  padding-top: 48px;
  padding-bottom: 48px;
  background-color: rgb(35, 30, 21);
}
.second-display-one {
  margin: 0 auto;
  margin-left: 28.125px;
  margin-right: 28.125px;
  display: flex;
  flex-direction: column;
}
.second-display-two {
  padding: 32px;
}
.find-a {
  padding-bottom: 40px;
  color: rgb(255, 255, 255);
}
.find-a h2 {
  padding-bottom: 16px;
  font-size: 28px;
  font-family: medium;
}
.find-a p {
  font-size: 18px;
  font-family: regular;
  width: 110%;
  padding-bottom: 40px;
}
.list-items {
  padding-left: 48px;
  list-style: none;
}
.up-container {
  margin-bottom: 40px;
  color: rgb(255, 255, 255);
  margin-left: -10px;
}
.up-container-text {
  padding: 16px;
}
.up-container-text {
  font-size: 18px;
  font-family: regular;
}
.up-container-a p {
  font-size: 16px;
  font-family: regular;
  margin-left: 14px;
}
.experience-container {
  margin-bottom: 40px;
}
.experience-container-a {
  padding: 16px;
  color: white;
}
.experience-container h3 {
  font-size: 18px;
  font-family: regular;
}
.experience-container p {
  font-size: 16px;
  font-family: regular;
  margin-top: 16px;
}
.experience-container-a p {
  line-height: 24px;
}
.user-container {
  margin-bottom: 40px;
  color: white;
  margin-top: -20px;
}
.user-container-a {
  padding: 16px;
}
.user-container h4 {
  font-size: 18px;
  font-family: regular;
}
.user-container p {
  font-size: 16px;
  font-family: regular;
  margin-top: 14px;
}
.billion-container {
  margin-bottom: 40px;
  color: #ffff;
}
.billion-container-a {
  padding: 16px;
}
.billion-container h5 {
  font-size: 18px;
  font-family: regular;
}
.billion-container p {
  font-size: 16px;
  font-family: regular;
  margin-top: 16px;
  line-height: 24px;
}
.product-container {
  padding-top: 48px;
  padding-bottom: 48px;
  margin: 12px;
  background-color: #f6f6f4;
}
.product-container-a {
  margin-left: 26.328px;
  margin-right: 26.328px;
}
.product-container-b {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  width: 80%;
}
.product-container-b h2 {
  font-size: 28px;
  font-family: medium;
  width: 130%;
  font-weight: 400;
}
.product-container-b p {
  margin-top: 16px;
  font-size: 18px;
  font-family: regular;
  line-height: 24px;
  width: 120%;
}
.learn-content {
  flex-direction: column;
}
.learn-content-a {
  font-family: regular;
  font-size: 16px;
  gap: 10px;
  display: flex;
  width: max-content;
  margin-top: 20px;
}
.learn-content-a img {
  background-color: rgb(255, 224, 27);
  border-radius: 26px;
  margin-top: -6px;
  padding: 7px;
}
.learn-content-picture {
  margin-top: 24px;
}
.learn-content-picture img {
  width: 100%;
}
.offer-container {
  padding-top: 60px;
  padding-bottom: 48px;
  background-color: rgb(245, 245, 245);
}
.offer-container-a {
  margin-left: 28.125px;
  margin-right: 28.125px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.offer-container-b {
  text-align: center;
}
.offer-container-b h2 {
  font-size: 36px;
  font-weight: 400;
  letter-spacing: -1px;
  font-family: medium;
}
.offer-container-b u {
  text-decoration-color: rgb(255, 224, 27);
  text-decoration-thickness: 8px;
}
.offer-container-c p {
  margin-bottom: 16px;
  line-height: 24px;
  font-family: regular;
  text-align: center;
}
.offer-container-b a {
  display: none;
}
.list-items-a {
  display: none;
}
.spend-container {
  display: none;
}
.standerd-container-a {
  display: flex;
  flex-direction: column;
}
.standerd-container-b {
  margin-right: 8px;
}
.standerd-container-c {
  padding-top: 32px;
  padding-right: 24px;
  padding-bottom: 8px;
  display: flex;
  justify-content: flex-end;
  color: rgb(35, 30, 21);
}
.standerd-container-c p {
  font-family: "bold";
  font-size: 13px;
}
.standerd-container-c img {
  width: 10px;
}
.standerd-text {
  padding: 24px 16px;
  display: flex;
  flex-direction: column;
}
.standerd-container-b h2 {
  margin-bottom: 12px;
  font-size: 28px;
  font-family: medium;
}
.standerd-box {
  padding: 24px 16px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 1.25rem 0.1875rem rgba(35, 30, 21, 0.15);
}
.standerd-box-b h2 {
  margin-bottom: 12px;
  font-size: 28px;
  font-family: medium;
  color: rgb(64, 59, 59);
}
.standerd-box-b p {
  font-size: 16px;
  font-family: regular;
  width: max-content;
  margin-bottom: 16px;
}
.box-container {
  margin-bottom: 10px;
}
.box-container-a {
  padding-left: 16px;
  border: 0.0625rem solid rgba(35, 30, 21, 0.3);
  border-radius: 0.625rem;
  padding: 14px;
}
.box-container-a a {
  font-size: 13px;
  font-family: Regular;
}
.rupes-container {
  display: flex;
  justify-self: flex-end;
  position: relative;
}
.rupes-box {
  font-size: 24px;
  font-family: medium;
  display: flex;
  column-gap: 12px;
}
.rupes-box img {
  width: 16px;
}
.save-content-two {
  padding: 8px;
  border: 1px;
}
.save-content-one {
  border: 1px solid rgba(35, 30, 21, 0.3);
  border-radius: 10px;
}
.save-content-three {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  column-gap: 10px;
}
.save-content-three {
  font-family: bold;
  font-size: 13px;
  color: rgb(0, 0, 0);
}
.month-container-a {
  margin-top: 3px;
}
.month-container-b {
  display: flex;
  line-height: normal;
}
.monht-container-b strong {
  font-family: bold;
}
.month-container-b a {
  color: rgb(0, 0, 0);
  font-size: 32px;
  font-family: medium;
}
.month-container-b p {
  font-size: 13px;
  font-family: regular;
}
.month-container-b h1 {
  font-size: 13px;
  color: rgba(35, 30, 21, 0.65);
  font-family: regular;
  margin-top: 8px;
}
.buynow-content {
  margin-top: 32px;
  margin-bottom: 12px;
}
.buynow-a {
  margin-top: 12px;
  margin-bottom: 12px;
  padding: 12px;
  border: 1px solid black;
  border-radius: 26px;
  background-color: rgb(255, 224, 27);
}
.buynow-b {
  padding: 12px 24px;
}
.buynow-b span {
  font-family: bold;
  font-size: 13px;
}
.see-container {
  font-family: Regular;
  font-size: 13px;
  line-height: 16.25px;
  color: rgb(64, 59, 59);
}
.see-container a {
  border-bottom: 1px dashed;
  width: object-fit;
}
.see-all-container {
  margin-top: 24px;
  display: flex;
  justify-content: center;
}
.see-all {
  padding-right: 40px;
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: "Regular";
  font-size: 16px;
}
.see-all img {
  padding: 8px;
  border-radius: 26px;
  background-color: rgb(255, 245, 27);
}
.see-all-container-a {
  margin-top: 24px;
  display: flex;
  justify-content: center;
}
.see-all-b {
  padding-right: 40px;
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: "Regular";
  font-size: 16px;
}
.see-all-b img {
  padding: 8px;
  border-radius: 26px;
  background-color: rgb(255, 245, 27);
}
.see-all-container-a {
  display: none;
}

.list-items-b {
  display: none;
}
.marketing-container {
  padding-top: 48px;
  padding-bottom: 48px;
  margin: 12px;
  background-color: rgb(230, 185, 95);
  border-radius: 8px;
}
.marketing-container-a {
  margin-left: 26.328px;
}
.marketing-container-b {
  text-align: flex-start;
  display: flex;
  flex-direction: column;
}
.marketing-container-b h2 {
  font-size: 28px;
  font-family: medium;
  font-weight: 400;
}
.marketing-container-b p {
  font-size: 18px;
  margin-top: 16px;
  font-family: Regular;
}
.marketing-container-b a {
  font-size: 18px;
  font-family: regular;
  margin-top: 16px;
  line-height: 24px;
  width: 90%;
}
.register-button {
  margin-top: 24px;
  font-size: 13px;
  padding: 12px 24px;
  border: 1px solid black;
  background-color: rgb(255, 224, 27);
  border-radius: 26px;
  margin-right: 59%;
  font-family: bold;
}
.register-image img {
  margin-top: 24px;
  border-radius: 26px;
  height: 166.406px;
}
.growth-container {
  padding-top: 48px;
  padding-bottom: 48px;
}
.growth-container-a {
  margin-left: 28.125px;
  margin-right: 28.125px;
}
.growth-container-a h2 {
  margin-bottom: 12px;
  font-family: medium;
  font-size: 28.125px;
  font-weight: 400;
  width: 110%;
}
.full-contents {
  margin-left: 28.125px;
  margin-right: 28.125px;
  margin-top: 24px;
}
.full-contents-a {
  column-gap: 12px;
  row-gap: 12px;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-bottom: 24px;
}
.full-contents-b {
  display: flex;
  justify-content: center;
  background-color: rgb(246, 246, 244);
  padding: 16px;
}
.canva-text {
  padding: 8px;
  align-items: center;
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  justify-content: center;
  text-align: left;
}
.canva-text img {
  width: 64px;
}
.canva-text-a {
  text-align: center;
  width: 120%;
}
.canva-text-a h2 {
  margin-top: 12px;
  font-size: 16px;
  font-weight: 400;
  align-items: center;
  font-family: Regular;
  width: 90%;
}
.zapier-box {
  display: none;
}
.view-content-a {
  padding-right: 40px;
  display: flex;
  gap: 10px;
  width: 80%;
}
.view-content h2 {
  font-size: 16px;
  font-weight: 400;
  font-family: Regular;
}
.view-content img {
  border-radius: 36px;
  background-color: rgb(255, 224, 27);
  gap: 10;
  padding: 5px;
  margin-top: -4px;
}
.million-content {
  padding-top: 48px;
  padding-bottom: 48px;
  background-color: rgb(0, 0, 0);
  color: #ffff;
}
.million-content-a {
  margin-left: 28.125px;
  margin-right: 28.125px;
  align-items: center;
  line-height: 28.125px;
}
.million-content-a p {
  letter-spacing: -0.5px;
  line-height: 28.125px;
  font-size: 28.125px;
  font-family: medium;
  text-align: center;
}
.million-button {
  margin-top: 24px;
  display: flex;
  justify-content: center;
  margin-top: 24px;
}
.million-text {
  color: black;
  background-color: rgb(255, 224, 27);
  border-radius: 26px;
  padding: 8px 24px;
}
.million-text h2 {
  font-size: 13px;
  font-weight: 500;
  font-family: Bold;
}
.footer-session {
  padding-top: 24px;
  padding-bottom: 24px;
}
.footer-a {
  width: 85%;
  margin: 0 auto;
  color: rgb(35, 30, 21);
}
.footer-b strong {
  font-weight: 500;
  font-size: 11px;
  font-family: bold;
}
.footer-c {
  display: flex;
  margin-left: -10px;
  line-height: 16px;
}
.footer-c p {
  font-size: 11px;
  font-weight: 500;
}
.footer-c ul {
  font-size: 11px;
  font-family: Regular;
}
.last-session {
  background-color: rgb(231, 183, 95);
  color: rgb(0, 0, 0);
  padding-top: 30px;
  padding-bottom: 30px;
}
.last-session-a {
  padding-left: 30px;
  padding-right: 30px;
}
.last-session-c {
  text-align: left;
}
.last-session-c h2 {
  font-size: 16px;
  font-family: Regular;
  font-weight: 400;
}
.links-content {
  margin-top: 30px;
}
.links-content u {
  font-size: 16px;
  font-weight: 400;
}
.links-content-a u {
  margin-top: 14px;
}
.canva-text-a p {
  display: none;
}
.digital-marketing-a u {
  font-family: Regular;
  font-size: 13px;
  color: #231e15;
}
.business-content {
  margin-top: 16px;
}
.business-content u {
  font-family: Regular;
  font-size: 13px;
  color: #231e15;
}
.chatgpt-content {
  margin-top: 16px;
}
.chatgpt-content u {
  font-size: 13px;
  font-family: Regular;
  color: #231e15;
}
.last-session hr {
  margin-top: 60px;
  margin-bottom: 60px;
  background-color: rgba(35, 30, 21, 0.3);
}
.footer-one {
  padding-left: 30px;
  padding-right: 30px;
}
.footer-three {
  margin-bottom: 40px;
}
.footer-three h2 {
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  font-family: Regular;
}
.footer-three li {
  display: flex;
  flex-direction: column;
  row-gap: 14px;
  background-color: rgb(231, 183, 95);
}
.footer-three u {
  font-family: Regular;
  font-size: 13px;
  font-weight: 400;
}
.resource-text {
  margin-bottom: 40px;
}
.resource-text h3 {
  font-weight: 400;
  font-size: 16px;
  font-family: Regular;
  margin-bottom: 24px;
}
.resource-text li {
  list-style: none;
  flex-direction: column;
  display: flex;
  row-gap: 14px;
  background-color: rgb(231, 183, 95);
}
.resource-text u {
  font-family: Regular;
  font-size: 13px;
  font-weight: 400;
}
.community-text {
  margin-bottom: 40px;
}
.community-text h3 {
  font-weight: 400;
  font-size: 16px;
  font-family: Regular;
  margin-bottom: 24px;
}
.community-text li {
  list-style: none;
  flex-direction: column;
  display: flex;
  row-gap: 14px;
  background-color: rgb(231, 183, 95);
}
.community-text u {
  font-size: 13px;
  font-weight: 400;
  font-family: Regular;
}
.company-text {
  margin-bottom: 40px;
}
.company-text h3 {
  font-weight: 400;
  font-size: 16px;
  font-family: Regular;
  margin-bottom: 24px;
}
.company-text li {
  list-style: none;
  flex-direction: column;
  display: flex;
  row-gap: 14px;
  background-color: rgb(231, 183, 95);
}
.company-text u {
  font-weight: 400;
  font-family: Regular;
  font-size: 13px;
}
.help-text {
  margin-bottom: 40px;
}
.help-text h3 {
  font-weight: 400;
  font-size: 16px;
  font-family: Regular;
  margin-bottom: 24px;
}
.help-text li {
  list-style: none;
  flex-direction: column;
  display: flex;
  row-gap: 14px;
  background-color: rgb(231, 183, 95);
}
.help-text u {
  font-weight: 400;
  font-family: Regular;
  font-size: 13px;
}
.mailchimp-presents-container {
  margin-bottom: 0px;
}
.malichimp-presents-container-a img {
  margin-bottom: 8px;
  width: 80%;
}
.mailchimp-presents-container p {
  font-family: medium;
  font-size: 13px;
  font-weight: 300;
  color: rgb(35, 30, 21);
}
.check-text {
  margin-top: 12px;
}
.check-text a {
  font-size: 13px;
  font-weight: 500;
  font-family: bold;
  display: flex;
  align-items: center;
  gap: 10px;
}
.check-text img {
  background-color: #ffe01b;
  border-radius: 16px;
  padding: 6px;
}
.lines {
  margin-top: 30px;
  margin-bottom: 30px;
  height: 1px;
  background-color: #000;
}
.intuit-session-a {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}
.intuit-session-b {
  flex-wrap: wrap;
  justify-content: center;
  width: 64.2857%;
  display: flex;
  list-style: none;
}
.intuit-session-c {
  margin-top: 20px;
  margin-left: 12px;
  margin-right: 12px;
  justify-content: center;
  width: 100%;
  display: flex;
}
.torbotax-text {
  margin-top: 20px;
  margin-left: 12px;
  margin-right: 12px;
}
.app-picture {
  display: flex;
  margin-left: 10px;
  margin-right: 10px;
}
.app-picture-a {
  justify-content: center;
  display: flex;
}
.app-picture a {
  padding: 16px;
}
.pictures {
  margin-top: 32px;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  list-style: none;
}
.pictures a {
  padding: 15px;
}
.gdpr-image {
  padding-top: 32px;
  padding-left: 10px;
  padding-right: 10px;
}
.english-button {
  margin-top: 32px;
  margin-left: 25px;
  margin-right: 10px;
  border: 1px solid;
  width: 100%;
  padding-right: 0px;
}
.english-button-a {
  padding: 10px;
}
.english-button-b a {
  font-size: 14px;
  font-family: bold;
}
.english-button-b {
  display: flex;
  justify-content: space-between;
}
.english-button-b img {
  width: 12px;
}
.english-text {
  margin-top: 32px;
}
.english-text p {
  font-family: Regular;
  font-size: 11px;
  font-weight: 400;
  width: 90%;
  text-align: start;
  margin-left: 30px;
  line-height: 16px;
  color: rgb(35, 30, 21);
}
.english-text u {
  font-weight: 700;
  font-size: 11px;
  font-family: bold;
}

@media screen and (min-width: 400px) {
  .footer-two {
    float: left;
    padding-right: 30px;
  }
  .company-text {
    padding-right: 30px;
    width: 50%;
    float: left;
  }
}

@media screen and (min-width: 500px) {
  .header-container a {
    display: inline-flex;
    margin-left: 0px;
    z-index: 500;
  }
  .service-text {
    display: none;
  }
  .login-container a {
    display: none;
  }
  .pricing-container {
    margin-left: 140px;
  }
  .email-container h1 {
    font-size: 48px;
    line-height: 48px;
  }
  .email-container p {
    width: 95%;
    margin-left: 11px;
  }
  .growth-container-a h2 {
    font-size: 37.5px;
    font-weight: 400;
  }
}
@media screen and (min-width: 576px) {
  .header-container {
    height: 17px;
  }
  .email-container p {
    font-size: 24px;
    width: 95%;
    margin-left: 13px;
    line-height: 31.999px;
  }
  .mailchimp-image img {
    margin-top: 1px;
  }
  .email-container h1 {
    font-size: 34.56px;
  }
  .pricing-container a {
    margin-top: -9px;
  }
  .frist-session {
    grid-template-columns: repeat(2, 50%);
    display: grid;
    margin-top: 42px;
  }
  .pricing-container {
    margin-left: 256px;
  }
  .one {
    margin-top: 24px;
  }
  .sign-button {
    margin-top: 55px;
  }
  .sign-margin a {
    padding-top: 16px;
    padding-bottom: 12px;
  }
  .automation-two img {
    width: 208.5px;
    margin-top: 48px;
  }
  .automation-one {
    padding: 40px;
  }
  .automation-text p {
    width: 100%;
    line-height: 28px;
  }
  .automation-text-one a {
    text-align: center;
  }
  .generative-one img {
    width: 208.5px;
    margin-top: 28px;
  }
  .generative-text p {
    height: 90%;
    line-height: 28px;
  }
  .generative-container {
    padding: 40px;
    background-color: rgb(245, 245, 245);
  }
  .generative-text-two {
    margin-top: -15px;
  }
  .segmentation-container {
    padding: 40px;
  }
  .segmentation-one img {
    width: 208.5px;
    margin-top: 50px;
  }
  .segmentation-text p {
    width: 100%;
    line-height: 28px;
  }
  .segmentation-two {
    width: 110%;
  }
  .segmentation-text-two {
    display: flex;
    text-align: center;
  }
  .reporting-container {
    padding: 40px;
  }
  .reporting-one img {
    width: 208.5px;
    margin-top: 30px;
  }
  .reporting-text p {
    line-height: 28px;
  }
  .reporting-text-two {
    display: flex;
    text-align: center;
  }
  .reporting-two {
    width: 110%;
  }
  .second-display-one {
    margin-right: 43.203px;
    margin-left: 43.203px;
  }
  .second-display-two {
    padding: 64px;
  }
  .find-a h2 {
    font-size: 28.8px;
    font-weight: 400;
  }
  .find-a p {
    font-size: 24px;
    font-weight: 400;
  }
  .login-container a {
    display: none;
  }
  .up-container-text {
    font-size: 24px;
  }
  .experience-container-a h3 {
    font-size: 24px;
  }
  .user-container-a h4 {
    font-size: 24px;
  }
  .billion-container-a h5 {
    font-size: 24px;
  }
  .product-container-b h2 {
    width: 120%;
    font-size: 40px;
  }
  .product-container-b p {
    font-size: 16px;
    width: 130%;
  }
  .offer-container-b h2 {
    font-size: 34.56px;
    width: 90%;
  }
  .offer-container-c p {
    line-height: 28px;
    margin-top: 16px;
  }
  .standerd-box-c {
    font-weight: 400;
  }
  .standerd-container-c p {
    font-family: "bold";
    font-size: 13px;
  }
  .standerd-container-a {
    padding: 20px;
    margin-top: -30px;
  }
  .see-container {
    width: 90%;
  }
  .see-all {
    gap: 10px;
    display: flex;
    align-items: center;
    font-size: 16px;
  }
  .marketing-container {
    margin: 12px;
    padding-top: 80px;
    padding-top: 80px;
  }
  .marketing-container-a {
    margin-right: 41.406px;
    margin-left: 41.406px;
  }
  .marketing-container-b h2 {
    font-size: 40px;
  }
  .marketing-container-b a {
    font-size: 16px;
    line-height: 25.6px;
    width: 100%;
  }
  .register-image {
    width: 100%;
    height: auto;
  }
  .growth-container-a h2 {
    width: 100%;
  }
  .full-contents {
    margin-left: 43.203px;
    margin-right: 43.203px;
    margin-top: 40px;
  }
  .full-contents-a {
    padding-bottom: 40px;
  }
  .canva-text {
    display: flex;
    padding: 24px;
    flex-direction: row;
    align-items: start;
    column-gap: 20px;
  }
  .canva-text img {
    width: 96px;
  }
  .canva-text-a h2 {
    width: 10%;
    font-family: bold;
  }
  .canva-text-a p {
    display: flex;
    font-size: 13px;
    font-weight: 400;
    color: rgba(35, 30, 21, 0.65);
    margin-top: 5px;
    width: 10%;
  }
  .canva-text-a p {
    text-align: left;
    font-family: "Regular";
  }
  .full-contents-b {
    background-color: #ffff;
  }
  .full-contents-a {
    column-gap: 0px;
    row-gap: 0px;
  }
  .growth-container-c h2 {
    font-weight: 400;
    font-size: 28.8px;
  }
  /* }
  .mailchimp-presents-container-a img{
    width: 56%;
  }
  */
  .english-button {
    width: 86%;
  }
}
@media screen and (min-width: 600px) {
  .pricing-container {
    margin-left: 280px;
  }
  .last-session {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .last-session-a {
    margin-left: 30px;
    margin-right: 30px;
  }
  .last-session-b {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .footer-one{
    display: grid;
    grid-template-columns: repeat(3, 3fr);
  }

}

@media screen and (min-width: 752px) {
  .sale-text {
    font-size: 13px;
    font-family: bold;
    margin-left: 130px;
  }
  .sale-container {
    display: block;
  }
  .first-header-margin {
    justify-content: space-between;
  }
  .sale-container {
    margin-left: 130px;
    margin-top: 20px;
  }
  .sale-text {
    margin-left: 0px;
  }
  .login-container {
    display: block;
    font-size: 13px;
    font-family: bold;
  }
  .login-button {
    padding: 12px 24px;
    border-radius: 26px;
    border: 1px solid black;
  }
  .service-text {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .header-container p {
    font-size: 13px;
  }
  .header-container {
    height: 35px;
  }
  .mailchimp-image img {
    width: 100%;
  }
  .mailchimp-image {
    margin-top: -2px;
  }
  .header-container {
    padding: 12px 12px;
    margin-left: 0px;
  }
  .frist-session {
    margin-top: 58px;
  }
  .sale-text {
    display: none;
  }
  .first-header-margin {
    margin-top: 2px;
  }
  .sale-container p {
    font-size: 13px;
    font-family: bold;
    margin-left: -33px;
    margin-top: 1px;
  }
  .sale-container {
    margin-top: 23px;
    margin-right: -3px;
  }
  .pricing-container {
    margin-left: -70px;
    margin-right: 34px;
  }
  .pricing-text {
    padding: 16px;
    font-size: 13px;
    font-family: bold;
    margin-top: -14px;
    margin-right: -24px;
  }
  .menu-icon img {
    margin-top: -6px;
    margin-right: -10px;
  }
  .automation-two img {
    margin-top: 55px;
    width: 100%;
  }
  .one {
    padding-top: 50px;
    padding-bottom: 28px;
  }
  .generative-one img {
    width: 100%;
  }
  .email-container {
    font-size: 24px;
  }
  .email-container h1 {
    font-size: 46.08px;
  }
  .second-display {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .second-display-one {
    margin-left: 57.594px;
    margin-right: 57.594px;
  }
  .second-display-two {
    padding: 64px;
  }
  .find-a {
    padding-bottom: 64px;
  }
  .find-a p {
    font-size: 24px;
    width: 100%;
  }
  .find-a h2 {
    padding-bottom: 16px;
    font-size: 38.4px;
    font-weight: 400;
  }
  .list-items {
    grid-template-columns: 50% 50%;
    padding-left: 0;
    display: grid;
  }
  .up-container-text {
    font-size: 24px;
  }
  .experience-container-a h3 {
    font-size: 24px;
    width: 40%;
  }
  .experience-container-a p {
    width: 70%;
    line-height: 24px;
  }
  .user-container-a h4 {
    font-size: 24px;
  }
  .billion-container {
    margin-top: -20px;
  }
  .billion-container-a h5 {
    font-size: 24px;
    width: 70%;
  }
  .billion-container-a p {
    width: 80%;
    line-height: 24px;
  }
  .product-container {
    padding-top: 80px;
    padding-bottom: 80px;
    margin: 12px;
  }
  .product-container-a {
    margin-left: 55.797px;
    margin-right: 55.797px;
  }
  .product-container-b h2 {
    font-size: 40px;
    width: unset;
  }
  .product-container-b p {
    margin-top: 24px;
    font-size: 16px;
  }
  .automation-two h1 {
    font-size: 23px;
  }
  .generative-one h2 {
    font-size: 23.04px;
  }
  .generative-container {
    background-color: rgb(245, 245, 245);
  }
  .generative-two img {
    width: 100%;
  }
  .email-container p {
    margin-top: 21px;
    margin-left: 18px;
    line-height: 31.9999px;
  }
  .segmentation-one h2 {
    font-size: 23px;
  }
  .reporting-one h2 {
    font-size: 23px;
  }
  .login-container a {
    display: block;
  }
  .login-container {
    border-radius: 26px;
    padding: 18px 24px;
    border: 1px solid black;
    margin-top: -14px;
    margin-right: 6px;
  }
  .login-button {
    display: none;
  }
  .offer-container-b h2 {
    font-size: 46.08px;
    width: 90%;
  }
  .offer-container-c a {
    margin-bottom: 16px;
    line-height: 24px;
    font-family: Regular;
  }
  .list-items-a {
    display: flex;
    margin-bottom: 24px;
    flex-wrap: wrap;
    justify-content: center;
  }
  .offer-container-c p {
    display: none;
  }
  .spend-container {
    font-size: 16px;
    font-family: "Regular";
    width: 90%;
    margin-bottom: 16px;
    text-align: center;
    line-height: 28px;
    display: block;
    margin-top: 16px;
  }
  .feature-a {
    margin-right: 10px;
    margin-bottom: 10px;
    display: flex;
  }
  .image {
    margin-right: 12px;
    background-color: rgb(255, 224, 27);
    padding: 4px;
    border-radius: 10px;
  }
  .feature-a p {
    font-size: 12px;
    font-family: regular;
  }
  .standerd-box-a {
    display: flex;
    column-gap: 10%;
  }
  .standerd-box-c {
    font-size: 38.4px;
  }
  .save-content {
    width: 43%;
  }
  /* .save-content {
    margin-left: 60px;
    width: 45%;
  } */
  .growth-container {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .growth-container-a {
    font-size: 38.4px;
    width: 90%;
    margin-right: 57.594px;
    margin-left: 57.594px;
  }
  .marketing-container {
    padding-top: 80px;
    margin: 12px;
    padding-bottom: 80px;
  }
  .marketing-container-a {
    margin-left: 55.797px;
    margin-right: 55.797px;
  }
  .marketing-container-b h2 {
    font-size: 40px;
  }
  .marketing-container-b p {
    font-size: 16px;
    margin-top: 28px;
    margin-bottom: 12px;
  }
  .marketing-container-b a {
    font-size: 16px;
    width: 100%;
  }
  .register-button {
    margin-right: 79%;
  }
  .register-image img {
    height: 100%;
  }
  .standerd-container-c p {
    font-family: "bold";
    font-size: 13px;
    display: flex;
    justify-content: flex-end;
  }
  .see-container-c {
    text-align: center;
    font-family: Regular;
  }
  .see-all {
    font-size: 16px;
  }
  .see-all img {
    margin-left: 4px;
    margin-bottom: -9px;
  }
  .generative-text-two {
    margin-top: -15px;
  }
  .segmentation-one img {
    margin-top: 50px;
  }
  .growth-container-a h2 {
    font-size: 38.4px;
    width: 80%;
  }
  .million-content {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .million-content-a {
    margin-right: 57.609px;
    margin-left: 57.594px;
  }
  .million-content-a {
    font-size: 38.4px;
    font-weight: 400;
    line-height: 38.4px;
  }
  .canva-text-a p {
    width: 100%;
  }
  .standerd-box-c {
    font-size: 38.4px;
    margin-bottom: 16px;
  }
}
@media screen and (min-width: 992px) {
  .one {
    padding-top: 50px;
    padding-bottom: 132px;
  }
  .header-container {
    height: 35px;
  }
  .header {
    top: 0px;
    position: sticky;
    width: 100%;
    background-color: #ffff;
  }
  .frist-session {
    grid-template-columns: repeat(4, 25%);
    grid-auto-rows: 1fr;
    margin-top: -48px;
  }
  .menu-content {
    margin-right: -12px;
  }
  .email-container h1 {
    font-size: 35.712px;
    margin-top: -13px;
  }
  .email-container p {
    width: 62%;
    margin-top: 15px;
    margin-left: 178px;
  }
  .mailchimp-image {
    margin-top: -2px;
  }
  .sale-container-p {
    margin-left: 105px;
  }
  .automation {
    display: block;
  }
  .automation-three {
    transform: translatey(-355px);
    margin-top: -5px;
    line-height: 31.104px;
  }
  .automation-text {
    transform: translatey(-60px);
    margin-bottom: -60px;
  }
  .automation img {
    width: 100%;
  }
  .automation-two img {
    display: none;
  }
  .automation-container {
    background-color: rgb(215, 150, 55);
  }
  .automation-text p {
    width: 110%;
  }
  .learn-content-picture img {
    border-radius: 26px;
    width: 82%;
    margin-left: 140px;
  }
  .product-container-a {
    display: flex;
    flex-direction: row;
  }
  .product-container-b h2 {
    width: 130%;
  }
  .product-container-b p {
    width: 130%;
  }
  .generative img {
    margin-left: -40px;
    width: 148%;
    margin-top: -40px;
  }
  .generative-one {
    width: 130%;
    transform: translateY(-360px);
    padding: 16px;
    margin-left: -40px;
  }
  .generative-one img {
    display: none;
  }
  .generative img {
    display: block;
  }
  .generative-two {
    margin-top: -6px;
    line-height: 31.104px;
  }
  .automation-one {
    margin-top: -10px;
    padding: 16px;
  }
  .segmentation-one img {
    display: none;
  }
  .segmentation img {
    margin: -40px;
    width: 150%;
  }
  .segmentation-one h2 {
    transform: translateY(-310px);
    margin-left: -22px;
  }
  .reporting-img {
    margin-left: -40px;
    margin-top: -40px;
    max-width: 65%;
  }
  .segmentation img {
    margin: -40px;
    width: 148%;
    display: block;
  }
  .reporting-one img {
    display: none;
  }
  .reporting img {
    margin-left: -40px;
    margin-top: -40px;
    display: block;
    width: 148%;
  }
  .reporting-one h2 {
    transform: translateY(-350px);
    margin-left: -28px;
  }
  .generative-text p {
    margin-top: -80px;
    width: 126%;
    margin-left: -26px;
  }
  .automation-two h1 {
    font-size: 22.32px;
  }
  .automation-text-two {
    text-align: center;
  }
  .generative-one h2 {
    font-size: 22.32px;
  }
  .segmentation-one h2 {
    font-size: 22.32px;
    margin-left: -24px;
    line-height: 30px;
  }
  .reporting-one h2 {
    font-size: 22.32px;
    margin-left: -24px;
    line-height: 30px;
  }
  .generative-text-two {
    margin-top: 18px;
  }
  .segmentation-text p {
    margin-left: -28px;
    width: 120%;
  }
  .reporting-text {
    margin-top: -60px;
  }
  .second-display-one {
    margin-left: 49.594px;
    margin-right: 49.594px;
  }
  .second-display-two {
    column-gap: 8.33333%;
    display: grid;
    flex-direction: column;
    grid-template-columns: 254.922px 446.125px;
  }
  .find-a h2 {
    font-size: 29.76px;
    width: 110%;
  }
  .find-a p {
    width: 110%;
    line-height: 31.9999px;
  }
  .experience-container-a h3 {
    width: 50%;
  }
  .experience-container-a p {
    width: 80%;
  }
  .billion-container h5 {
    width: 80%;
  }
  .offer-container-a {
    margin-right: 49.609px;
    margin-left: 49.594px;
    display: flex;
    flex-direction: row;
    column-gap: 6%;
  }
  .sale-container p {
    margin-top: 1px;
    margin-left: 192px;
  }
  .offer-container {
    padding-bottom: 32px;
  }
  .offer-container-a {
    display: flex;
    flex-direction: row;
  }
  .offer-container-b h2 {
    font-size: 35.712px;
    width: 100%;
    text-align: left;
  }
  .see-all-container {
    display: none;
  }
  .see-all-container-a {
    display: block;
  }
  .list-items-a {
    display: block;
    columns: 2;
  }
  .spend-container {
    width: 95%;
    text-align: left;
  }
  .standerd-box-a {
    display: felx;
    flex-direction: column;
  }
  .save-content-one {
    padding: 8px;
    border: 1;
  }
  .growth-container-a h2 {
    font-size: 29.76px;
    width: 50%;
  }
  .ful-contents {
    margin-top: 40px;
    margin-left: 49.594px;
    margin-right: 49.609px;
  }
  .full-contents-a {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .zapier-box {
    display: block;
    padding: 16px;
  }
  .zapier-box-a {
    padding: 26px;
    column-gap: 18px;
    display: flex;
    justify-content: flex-start;
  }
  .zapier-box-a img {
    width: 96px;
  }
  .zapier-text {
    width: 120%;
  }
  .zapier-text h2 {
    margin-top: 12px;
    font-size: 16px;
    font-weight: 400;
    align-items: center;
    font-family: Regular;
    width: 90%;
  }
  .zapier-text p {
    font-size: 13px;
    font-family: "Regular";
    color: rgb(35, 30, 21, 0.65);
  }
  .million-content{
    background-color: rgb(35, 30, 21)
  }
  .million-content-a{
    margin-right: 196.406px;
    margin-left: 196.406px;
  }
  .million-content-a p{
    font-size: 29.76px;
    font-weight: 400;
  }
  .save-content-one{
    width: 220%;
  }
  .footer-one{
     display: grid;
    grid-template-columns: repeat(6, 6fr);
  }
  .intuit-session-a{
    margin-left: 49.594px;
    margin-right: 49.609px;
  }
  .intuit-session-b{
    display: flex;
    flex-flow: row;
  }
  .intuit-session-c img{
    width:80%;
  }
  .malichimp-presents-container-a img{
    margin-bottom: 20px;
  }
  }
@media screen and (min-width: 1066px) {
  .service-text {
    padding: 8px;
    color: #231e15;
    font-family: 13px;
    white-space: nowrap;
    color: rgb(35, 30, 21);
  }
  .service-text {
    display: block;
  }
  .service-text-img {
    height: 12px;
    width: 8px;
  }

}
@media screen and (min-width: 1024px) {
  .header-container p {
    font-size: 13px;
  }
  .sale-container {
    margin-right: -276px;
  }
  .sale-container p {
    margin-left: -54px;
  }
  .one {
    padding-bottom: 22px;
  }
  .frist-session {
    padding-top: 102px;
  }
  .automation-container {
    background-color: rgb(215, 150, 55);
  }
  .second-display-one {
    margin-right: 51.203px;
    margin-left: 51.203px;
  }
  .second-display-two {
    display: grid;
    flex-direction: column;
    padding: 64px;
    grid-template-columns: 264.516px 462.922px;
    height: 333.344px;
    line-height: 21.6px;
  }
  .find-a h2 {
    line-height: 30.72px;
    letter-spacing: -0.5px;
    padding-bottom: 16px;
    font-size: 30.72px;
  }
  .find-a p {
    line-height: 30.9999px;
  }
  .list-items {
    column-gap: 14.2857%;
    display: grid;
    margin-left: 70px;
    margin-top: -2px;
    grid-template-columns: 198.391px 198.391px;
  }
  .automation-three {
    margin-top: -18px;
    font-size: 23.04px;
  }
  .generative-two {
    margin-top: -22px;
    font-size: 23.04px;
  }
  .segmentation-two {
    margin-top: -16px;
    font-size: 23.04px;
    line-height: 30px;
  }
  .reporting-two {
    margin-top: -16px;
    font-size: 23.04px;
    line-height: 32px;
    margin-left: -24px;
  }
  .experience-container-a h3 {
    width: 70%;
    line-height: 31.9999px;
  }
  .experience-container a p {
    width: 100%;
    margin-top: 10px;
  }
  .billion-container-a h5 {
    width: 90%;
    font-size: 24px;
    line-height: 31.9999px;
  }
  .experience-container {
    margin-top: -10px;
  }
  .product-container {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .email-container h1 {
    font-size: 36.864px;
  }
  .register-image {
    height: auto;
    width: 72%;
  }
  .marketing-container-b {
    justify-content: left;
    display: flex;
    flex-direction: column;
    flex: 1px;
  }
  .product-container {
    background-color: rgb(255, 255, 255);
  }
  .automation-text {
    width: 100%;
    margin-top: 70px;
  }
  .switch-text {
    display: none;
  }
  .offer-container-a {
    display: flex;
    flex-direction: row;
  }
  .offer {
    display: flex;
    flex-direction: column;
  }
  .offer-container-b h2 {
    font-size: 36.864px;
    width: 100%;
    text-align: start;
    margin-top: 24px;
  }
  .spend-container {
    text-align: start;
    width: 105%;
  }
  .list-items-a {
    display: block;
    columns: 2;
  }
}
@media screen and (min-width: 1075px) {
  .mailchimp {
    margin-top: -10px;
  }
  .maiclhimp-img {
    margin-top: 3px;
  }
  .sale-container p {
    margin-left: -285px;
    margin-top: 1px;
  }
  .pricing-container {
    margin-right: 25px;
    margin-top: 2px;
  }
  .service-text {
    font-family: "bold";
    font-size: 13px;
    font-weight: 500;
  }
  .service-text img {
    height: 8px;
    width: 12px;
  }
  .service-text img {
    margin-left: 7px;
  }
  .frist-session {
    margin-top: 75px;
  }
  .automation-three {
    margin-top: -32px;
    font-size: 24.1875px;
  }
  .switch-text {
    display: none;
  }
  .generative-two {
    margin-top: -48px;
    font-size: 24.1875px;
  }
  .segmentation-two {
    margin-top: -40px;
    font-size: 24.1875px;
  }
  .reporting-two {
    margin-top: -42px;
    font-size: 24.1875px;
  }
  .automation-container {
    background-color: rgb(215, 150, 55);
  }
  .automation-text {
    transform: translate();
  }
}
@media screen and (min-width: 1250px) {
  .switch-text {
    display: block;
    font-family: "bold";
    font-size: 13px;
    font-weight: 500;
  }
}



































